.form-label {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.form-control {
    border-radius: 0.5rem;
    box-shadow: none;
}

.card {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 1rem;
}

.form-check input[type="checkbox"] {
    margin-right: 0.5rem;
    transform: scale(1.1);
}
