# Visual Studio
.vs/
*.user
*.suo

# Build outputs
bin/
obj/
Debug/
Release/

# NuGet
*.nupkg
packages/
project.lock.json
project.assets.json

# Configs y archivos temporales
*.dbmdl
*.log
*.tmp

# Publicaciones
*.Publish.xml

# Archivos del sistema
Thumbs.db
.DS_Store
QhatuPUCPWeb/.vs/QhatuPUCPWeb/v17/.suo
QhatuPUCPWeb/.vs/QhatuPUCPWeb/v17/DocumentLayout.backup.json
QhatuPUCPWeb/.vs/QhatuPUCPWeb/v17/DocumentLayout.json
QhatuPUCPWeb/QhatuPUCPPresentacion/bin/QhatuPUCPPresentacion.dll
QhatuPUCPWeb/QhatuPUCPPresentacion/bin/QhatuPUCPPresentacion.pdb
QhatuPUCPWeb/QhatuPUCPPresentacion/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
QhatuPUCPWeb/QhatuPUCPPresentacion/obj/Debug/QhatuPUCPPresentacion.csproj.CoreCompileInputs.cache
QhatuPUCPWeb/QhatuPUCPPresentacion/obj/Debug/QhatuPUCPPresentacion.dll
QhatuPUCPWeb/QhatuPUCPPresentacion/obj/Debug/QhatuPUCPPresentacion.pdb
QhatuPUCPWeb/QhatuPUCPPresentacion/QhatuPUCPPresentacion.csproj
QhatuPUCPWeb/.vs/QhatuPUCPWeb/v17/.suo
QhatuPUCPWeb/.vs/QhatuPUCPWeb/v17/DocumentLayout.backup.json
QhatuPUCPWeb/.vs/QhatuPUCPWeb/v17/DocumentLayout.json
QhatuPUCPWeb/QhatuPUCPPresentacion/.vs/QhatuPUCPPresentacion.csproj.dtbcache.json
QhatuPUCPWeb/QhatuPUCPPresentacion/bin/QhatuPUCPPresentacion.dll
QhatuPUCPWeb/QhatuPUCPPresentacion/bin/QhatuPUCPPresentacion.pdb
QhatuPUCPWeb/QhatuPUCPPresentacion/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
QhatuPUCPWeb/QhatuPUCPPresentacion/obj/Debug/QhatuPUCPPresentacion.csproj.AssemblyReference.cache
QhatuPUCPWeb/QhatuPUCPPresentacion/obj/Debug/QhatuPUCPPresentacion.csproj.CoreCompileInputs.cache
QhatuPUCPWeb/QhatuPUCPPresentacion/obj/Debug/QhatuPUCPPresentacion.dll
QhatuPUCPWeb/QhatuPUCPPresentacion/obj/Debug/QhatuPUCPPresentacion.pdb
QhatuPUCPWeb/.vs/QhatuPUCPWeb/config/applicationhost.config
