html, body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #2f5e93;
}

.sidebar-custom {
    background-color: #f3f0eb !important;
    height: 100vh;
}

@media (min-width: 768px) {
    .sidebar-custom {
        position: fixed;
        top: 0;
        left: 0;
        width: 200px;
        height: 100vh;
        z-index: 1030;
        overflow-y: auto;
    }

    .bg-principal {
        margin-left: 200px;
    }
}

.main-content {
    margin-left: 50px;
    margin-right: 50px;
    transition: margin-left 0.3s ease;
}

.sidebar svg {
    width: 24px;
    height: 24px;
}

/* Navegación lateral */
.mynav li a {
    color: #000;
    text-decoration: none;
    width: 100%;
    display: block;
    border-radius: 6px;
    padding: 8px 12px;
    transition: background-color 0.3s, border 0.3s;
    border: 2px solid transparent;
}

    .mynav li a:hover {
        background: rgba(0, 0, 0, 0.05);
    }

    .mynav li a i {
        width: 25px;
        text-align: center;
    }

    .mynav li a.active {
        font-weight: 600;
        border: 2.5px solid #2f5e93;
    }

/* Fondo principal azul */
.bg-principal {
    background-color: #2f5e93;
    min-height: 100vh;
    color: white;
}

/* Tarjeta de usuario */
.user-card {
    background-color: lightgrey;
    border-radius: 8px;
    padding: 5px 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    gap: 10px;
}

    .user-card img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

.nav-link svg {
    flex-shrink: 0;
}

/* Cards box */
.cards-box {
    background-color: #f3f0eb;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
