body {
    background: linear-gradient(to bottom right, #ffffff, #f0f2f5);
    min-height: 100vh;
}

.bg-pucp {
    background-color: #033A78;
}

.login-logo {
    max-width: 200px;
}

.login-formulario .tab-pane {
    min-height: 360px;
}

.login-card {
    max-width: 1000px;
    min-height: 480px;
    margin: 0 auto;
}

.login-imagen h3 {
    font-size: 2.4rem;
}

.login-imagen h2 {
    font-size: 2rem;
}

.login-imagen p {
    font-size: 1.2rem;
}

@media (orientation: portrait) {
    .login-container > .d-flex {
        flex-direction: column !important;
        max-width: 75%;
        margin-inline: auto;
    }

    .login-imagen,
    .login-formulario {
        width: 100% !important;
    }

    .login-logo {
        max-width: 100px;
    }

    .login-imagen img {
        max-width: 108px;
    }

    .login-imagen h3 {
        font-size: 2rem;
        margin-bottom: 0.4rem;
    }

    .login-imagen h2 {
        font-size: 1.2rem;
        margin-bottom: 0.4rem;
    }

    .login-imagen p {
        font-size: 0.8rem;
        margin-bottom: 0;
    }
}

.btn-dark {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

    .btn-dark:hover {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
    }

.nav-pills {
    display: table !important;
    width: 100%;
}

    .nav-pills .nav-link {
        border-radius: 0px;
        border-bottom: 1px solid #0d6efd40;
    }

.nav-item {
    display: table-cell;
    background: #0d6efd2e;
}
