<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UsuarioWSPortBinding" />
        <binding name="PublicacionWSPortBinding" />
        <binding name="CursoWSPortBinding" />
        <binding name="AdministradorWSPortBinding" />
        <binding name="NotificacionWSPortBinding" />
        <binding name="FacultadWSPortBinding" />
        <binding name="ComentarioWSPortBinding" />
        <binding name="EspecialidadWSPortBinding" />
        <binding name="DenunciaWSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/WebService/UsuarioWS"
        binding="basicHttpBinding" bindingConfiguration="UsuarioWSPortBinding"
        contract="WebService.UsuarioWS" name="UsuarioWSPort" />
      <endpoint address="http://localhost:8080/WebService/PublicacionWS"
        binding="basicHttpBinding" bindingConfiguration="PublicacionWSPortBinding"
        contract="WebService.PublicacionWS" name="PublicacionWSPort" />
      <endpoint address="http://localhost:8080/WebService/CursoWS"
        binding="basicHttpBinding" bindingConfiguration="CursoWSPortBinding"
        contract="WebService.CursoWS" name="CursoWSPort" />
      <endpoint address="http://localhost:8080/WebService/AdministradorWS"
        binding="basicHttpBinding" bindingConfiguration="AdministradorWSPortBinding"
        contract="WebService.AdministradorWS" name="AdministradorWSPort" />
      <endpoint address="http://localhost:8080/WebService/NotificacionWS"
        binding="basicHttpBinding" bindingConfiguration="NotificacionWSPortBinding"
        contract="WebService.NotificacionWS" name="NotificacionWSPort" />
      <endpoint address="http://localhost:8080/WebService/FacultadWS"
        binding="basicHttpBinding" bindingConfiguration="FacultadWSPortBinding"
        contract="WebService.FacultadWS" name="FacultadWSPort" />
      <endpoint address="http://localhost:8080/WebService/ComentarioWS"
        binding="basicHttpBinding" bindingConfiguration="ComentarioWSPortBinding"
        contract="WebService.ComentarioWS" name="ComentarioWSPort" />
      <endpoint address="http://localhost:8080/WebService/EspecialidadWS"
        binding="basicHttpBinding" bindingConfiguration="EspecialidadWSPortBinding"
        contract="WebService.EspecialidadWS" name="EspecialidadWSPort" />
      <endpoint address="http://localhost:8080/WebService/DenunciaWS"
        binding="basicHttpBinding" bindingConfiguration="DenunciaWSPortBinding"
        contract="WebService.DenunciaWS" name="DenunciaWSPort" />
    </client>
  </system.serviceModel>
</configuration>